* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Crimson Pro', serif;
    background: #f0f0f0;
    display: grid;

}

.bottom-container {
    display: grid;
    grid-template-rows: 1fr, auto;
    align-items: end;
}

.container {
    position: relative; /* позволяет двигать элемент относительно того где он должен стоять */
    width: 50vw;
    height: 40vw;
    /* margin-bottom: auto; */
    background: white;
    padding: 20px;
    border-radius: 10px;
}

/* стиль видео-плеера */
#videoPlayer {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    width: calc(100% - 40px);
    height: calc(80% - 20px);
    margin-bottom: 15px;
}

/* стиль зоны загрузки */
.upload-area {
    position: absolute;
    bottom: 15px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(20% - 25px);
    border: 2px dashed #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

/* стиль зоны загрузки при наведении */
.upload-area:hover {
    border-color: #007bff;
    background: #f8f9fa;
}

/* полоса прогресса загрузки, изначально скрыта */
.progress-bar {
    width: 100%;
    height: 6px;
    background: #e9ecef;
    border-radius: 3px;
    margin-bottom: 20px;
    display: none; /* скрыть элемент */
}

/* сама полоса, которая будет расти */
.progress {
    width: 0%;
    height: 100%;
    background: #28a745;
    border-radius: 3px;
    transition: width 0.3s; /* создает плавную анимаю при изменении width на 0.3s */
}
/* стиль для инфы видосика, изначално скрыт */
.video-info {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    display: none;
}
